{% extends 'base.html.twig' %}

{% block title %}Edit Page {{ page.name }}| {{ parent() }}{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    {{ breadcrumbs()|raw }}

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
