{% extends 'base.html.twig' %}

{% block title %}Compare snapshots | {{ parent() }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/monaco/editor.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/monaco/editor.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Compare</h1>

    {{ breadcrumbs()|raw }}

    <div class="row mb-3">
        <div class="col-6">
            {% include 'components/hash.html.twig' with {hash: snapshot1.hash} only %}
        </div>
        <div class="col-6">
            {% include 'components/hash.html.twig' with {hash: snapshot2.hash} only %}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>Project</td>
                    <td>
                        <a href="{{ path('project_show', {'project': snapshot1.page.project.id }) }}">{{ snapshot1.page.project.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Page</td>
                    <td>
                        <a href="{{ path('page_show', {'project': snapshot1.page.project.id, 'page': snapshot1.page.id }) }}">{{ snapshot1.page.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Timestamp</td>
                    <td>
                        {{ snapshot1.timestamp|date('d/m/Y h:m:s') }}
                    </td>
                </tr>
                <tr>
                    <td>Request time</td>
                    <td>
                        {{ snapshot1.responseTime|number_format(2) }} sec
                    </td>
                </tr>
                <tr>
                    <td>HTTP Status</td>
                    <td>{% include 'components/response-code.html.twig' with {code: snapshot1.responseCode} only %}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>Project</td>
                    <td>
                        <a href="{{ path('project_show', {'project': snapshot2.page.project.id }) }}">{{ snapshot2.page.project.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Page</td>
                    <td>
                        <a href="{{ path('page_show', {'project': snapshot2.page.project.id, 'page': snapshot2.page.id }) }}">{{ snapshot2.page.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Timestamp</td>
                    <td>
                        {{ snapshot2.timestamp|date('d/m/Y h:m:s') }}
                    </td>
                </tr>
                <tr>
                    <td>Request time</td>
                    <td>
                        {{ snapshot2.responseTime|number_format(2) }} sec
                    </td>
                </tr>
                <tr>
                    <td>HTTP Status</td>
                    <td>{% include 'components/response-code.html.twig' with {code: snapshot2.responseCode} only %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <a target="_blank" class="btn btn-primary"
               href="{{ path('editor', {'snapshot1': snapshot1.id, 'snapshot2': snapshot2.id}) }}">Editor</a>
        </div>
        <div class="col-6">
            <a target="_blank" class="btn btn-primary"
               href="{{ path('editor', {'snapshot1': snapshot1.id, 'snapshot2': snapshot2.id}) }}">Editor</a>
        </div>
    </div>

    <div class="monaco-compare mb-3"
         data-snapshot1="{{ snapshot1.body }}"
         data-snapshot2="{{ snapshot2.body }}"
         data-language="html"
         style="height: 300px">
    </div>

    <div class="row">
        <div class="col-6">
            <img class="img-fluid" alt="{{ snapshot1.hash }}" src="{{ asset(snapshot1.image) }}">
        </div>
        <div class="col-6">
            <img class="img-fluid" alt="{{ snapshot2.hash }}" src="{{ asset(snapshot2.image) }}">
        </div>
    </div>

</div>
{% endblock %}
