{% if cookies is defined and cookies is not empty %}
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Value</td>
        </tr>
        </thead>
        {% for cookie in cookies %}
            <tr>
                <td>{{ cookie.name }}</td>
                <td>{{ cookie.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{{ form_start(form) }}

<div class="form-group">
    <label for="page_name" class="form-control-label">Path</label>
    <div class="row">
        <div class="col-1">
            {{ form_widget(form.protocol) }}
        </div>

        <div class="col-3">
            <input type="text" class="form-control" disabled value="{{ project.domain }}">
        </div>

        <div class="col-8">
            {{ form_widget(form.path) }}
        </div>
    </div>
</div>

{{ form_row(form.username) }}
{{ form_row(form.password) }}

{{ form_row(form.submitSelector) }}
{{ form_row(form.usernameSelector) }}
{{ form_row(form.passwordSelector) }}

<div class="mb-3">
{{ form_widget(form.save) }}
{{ form_widget(form.test) }}
</div>

{{ form_end(form) }}
