{% extends 'content.html.twig' %}

{% block title %}New Project | {{ parent() }}{% endblock %}

{% block content %}
    <form method="post" action="{{ path(app.request.attributes.get('_route'), {'project': project.id}) }}">
        <div class="row">
            <div class="col-10">
                {% if app.request.attributes.get('_route') == 'project_import_sitemap' %}
                    <h1>Import sitemap</h1>
                {% else %}
                    <h1>Import links</h1>
                {% endif %}
            </div>
            <div class="col-2">
                <button class="btn btn-primary float-right mt-3" type="submit">Import</button>
            </div>
        </div>

        {{ breadcrumbs(project)|raw }}

        {% include 'components/flash-messages.html.twig' %}

        {% if url is defined %}
            <div class="mb-2">
                <small >From url: {{ url }}</small>
            </div>
        {% endif %}

        <table class="table">
            <thead>
            <tr>
                <td><input type="checkbox" data-toggle="select-all" data-target="select-page"></td>
                <td>Path</td>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>
                        <input data-group="select-page" name="pages[]" type="checkbox" value="{{ 'http://' ~ project.domain ~ page }}">
                    </td>
                    <td>
                        <a href="{{ path('project_import_crawl', {"project": project.id, "url": page }) }}">{{ page }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">
                        No new pages found.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}
