{% extends 'base.html.twig' %}

{% block title %}Edit Project {{ project.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-10">
            <h1>Edit Project</h1>
        </div>
        <div class="col-2">
            {{ include('pages/project/_delete_form.html.twig') }}
        </div>
    </div>

    {{ breadcrumbs()|raw }}

    {% include 'components/flash-messages.html.twig' %}

    {{ include('pages/project/_form.html.twig', {'button_label': 'Update', 'project': project}) }}
{% endblock %}
