{% extends 'content.html.twig' %}

{% block title %}Edit Project {{ project.name }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Edit Project</h1>
        </div>
        <div class="col-2">
            {{ include('pages/project/_delete_form.html.twig') }}
        </div>
    </div>

    {{ breadcrumbs(project)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    {% if project.authenticator is null and project.id is not null %}
        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Add Authenticator
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {% for type, typeTitle in authenticator_types %}
                    <a class="dropdown-item"
                       href="{{ path('authenticator_new', {project: project.id, type: type}) }}">{{ typeTitle }}</a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <table class="table mb-0">
            <thead>
            <tr>
                <td colspan="2" class="pl-0 pr-0">Authenticator</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="pl-0">
                    <a href="{{ path('authenticator_edit', {project: project.id, id: project.authenticator.id}) }}">{{ project.authenticator.title | capitalize }}</a>
                </td>
                <td class="pr-0">
                    {{ include('pages/authenticator/_delete_form.html.twig') }}
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

    {{ include('pages/project/_form.html.twig', {'project': project}) }}

{% endblock %}
