{% extends 'content.html.twig' %}

{% block title %}Projects | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Projects</h1>
        </div>
        <div class="col-2">
            <a data-toggle="tooltip"
               data-placement="left"
               title="Create new project"
               class="btn btn-primary mt-2 float-right"
               href="{{ path('project_new') }}">
                <i class="fa fa-plus-square"></i>
            </a>
        </div>
    </div>

    {{ breadcrumbs()|raw }}

    {% include 'components/flash-messages.html.twig' %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Domain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', {'project': project.id}) }}">{{ project.name }}</a></td>
                <td>{{ project.domain }}</td>
                <td>
                    <a data-toggle="tooltip"
                       data-placement="bottom"
                       title="Edit project"
                       class="mr-1 ml-1"
                       href="{{ path('project_edit', {'project': project.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Create project to begin.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
