{% extends 'content.html.twig' %}

{% block title %}Project {{ project.name }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Project {{ project.name }}</h1>
        </div>
        <div class="col-2">
            {{ include('pages/project/_delete_form.html.twig') }}
            <a data-toggle="tooltip"
               data-placement="bottom"
               title="Edit project"
               class="btn btn-primary mt-2 mr-2 float-right "
               href="{{ path('project_edit', {'project': project.id}) }}">
                <i class="fa fa-edit"></i>
            </a>
            {% if project.resources|length > 0 %}
                <a data-toggle="tooltip"
                   data-placement="bottom"
                   title="Create project snapshot"
                   class="btn btn-primary mt-2 mr-2 float-right"
                   href="{{ path('project_snapshot_new', {"project": project.id}) }}">
                    <i class="fa fa-camera"></i>
                </a>
            {% endif %}
        </div>
    </div>

    {{  breadcrumbs(project)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    <table class="table">
        <tbody>
        <tr>
            <th>Domain</th>
            <td>{{ project.domain }}</td>
        </tr>
        </tbody>
    </table>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#resources" role="tab"
               aria-controls="nav-pages" aria-selected="true">Resources</a>
            {% if project.snapshots is not empty %}
                <a class="nav-item nav-link" data-toggle="tab" href="#snapshots" role="tab"
                   aria-controls="nav-snapshots" aria-selected="false">Snapshots</a>
            {% endif %}
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="resources" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row mb-3 mt-3">
                <div class="col-10">
                    <h2>Resources</h2>
                </div>
                <div class="col-2">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-plus-square"></i>
                        </button>
                        <button type="button"
                                class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">

                            {% for name, type  in resource_types %}

                                <a class="dropdown-item"
                                   href="{{ path('resource_new', {'project': project.id, 'type': type}) }}">{{ name }}</a>

                            {% endfor %}
                            <a class="dropdown-item"
                               href="{{ path('project_page_import', {'project': project.id}) }}">Import</a>
                        </div>
                    </div>

                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for resource in project.resources %}
                    <tr>
                        <td>
                            {% set title = resource.name|default(resource.path) %}

                            <a href="{{ path('resource_show', {'project': project.id, 'resource': resource.id}) }}"
                                    {% if title|length > 50 %} data-toggle="tooltip" data-placement="bottom" title="{{ title }}"{% endif %}
                            >
                                {{ (title|length > 50 ? title|slice(0, 50) ~ '…' : title) }}
                            </a>
                        </td>
                        <td>{{ resource.path }}</td>
                        <td>
                            <a data-toggle="tooltip"
                               data-placement="bottom"
                               title="Edit page"
                               class="mr-1 ml-1"
                               href="{{ path('resource_edit', {'project': project.id, 'resource': resource.id}) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a data-toggle="tooltip"
                               data-placement="bottom"
                               title="Visit page"
                               class="mr-1 ml-1"
                               target="_blank"
                               href="{{ resource.url }}">
                                <i class="fa fa-external-link-alt"></i>
                            </a>
                            <a data-toggle="tooltip"
                               data-placement="bottom"
                               title="Import links from this page"
                               href="{{ path('project_page_import', {"project": project.id, "url": resource.path }) }}">
                                <i class="fas fa-link"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">This project has no resources.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="snapshots" role="tab" aria-labelledby="nav-profile-tab">
            {% if project.snapshots is not empty %}
                <h2 class="mb-3 mt-3">Snapshots</h2>

                <div class="compare-selector compare-project-snapshots-selector mb-3"
                     data-path="{{ path('compare_project_snapshot', {'snapshot1': 'snapshot1', 'snapshot2': 'snapshot2'}) }}">
                    <select class="custom-select" name="snapshot1">
                        {% set newest = project.snapshots[0].timestamp %}
                        {% for index, snapshot in project.snapshots %}
                            <option value="{{ snapshot.id }}">{{ snapshot.timestamp|date(datetime_format()) }}
                                - {% if index == 0 %}Newest{% else %}{{ snapshot.timestamp|time_diff(newest) }}{% endif %}</option>
                        {% endfor %}
                    </select>

                    <select class="custom-select" name="snapshot2">
                        {% set newest = project.snapshots[0].timestamp %}
                        {% for index, snapshot in project.snapshots %}
                            <option value="{{ snapshot.id }}" {{ (index == 1) ? 'selected' : '' }}>{{ snapshot.timestamp|date(datetime_format()) }}
                                - {% if index == 0 %}Newest{% else %}{{ snapshot.timestamp|time_diff(newest) }}{% endif %}</option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-primary" type="button">Compare</button>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Delta Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set newest = project.snapshots[0].timestamp %}
                    {% for index, snapshot in project.snapshots %}
                        <tr>
                            <td>
                                <a href="{{ path('project_snapshot_show', {"project": project.id, "snapshot": snapshot.id}) }}">{{ snapshot.timestamp|date(datetime_format()) }}</a>
                            </td>
                            <td>{% if index == 0 %}Newest{% else %}{{ snapshot.timestamp|time_diff(newest) }}{% endif %}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center">No snapshots here.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
