{% extends 'content.html.twig' %}

{% block title %}Import Pages | {{ parent() }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-10">
                <h1>Import Pages</h1>
            </div>
        </div>

        {{ breadcrumbs(project)|raw }}

        {% include 'components/flash-messages.html.twig' %}

    <form action="{{ path('project_page_import', {'project': project.id}) }}" method="get">
        <div class="row">
            <div class="col-4">
                <input class="form-control" type="text" name="base-url" value="{{ project.baseUrl }}" disabled>
            </div>
            <div class="col-8">
                <div class="input-group">
                    <input class="form-control" type="text" name="url" list="pages" value="{{ url }}"
                           autocomplete="off">
                    <datalist id="pages">
                        {% for page in suggestions %}
                        <option value="{{ page }}">
                            {% endfor %}
                    </datalist>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post" action="{{ path(app.request.attributes.get('_route'), {'project': project.id}) }}">
        <div>
            <button class="btn btn-primary mt-3 mb-3 float-right" type="submit">Import</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <td><input type="checkbox" data-toggle="select-all" data-target="select-page"></td>
                <td>Path</td>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>
                        <input data-group="select-page" name="pages[]" type="checkbox" value="{{ 'http://' ~ project.domain ~ page }}">
                    </td>
                    <td>
                        <a href="{{ path('project_page_import', {"project": project.id, "url": page }) }}">{{ page }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">
                        No links found found.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}
