{% extends 'base.html.twig' %}

{% block title %}PageSnapshot index{% endblock %}

{% block body %}
    <h1>PageSnapshot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Body</th>
                <th>ResponseCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page_snapshot in page_snapshots %}
            <tr>
                <td>{{ page_snapshot.id }}</td>
                <td>{{ page_snapshot.timestamp }}</td>
                <td>{{ page_snapshot.body }}</td>
                <td>{{ page_snapshot.responseCode }}</td>
                <td>
                    <a href="{{ path('page_snapshot_show', {'id': page_snapshot.id}) }}">show</a>
                    <a href="{{ path('page_snapshot_edit', {'id': page_snapshot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('page_snapshot_new') }}">Create new</a>
{% endblock %}