{% extends 'base.html.twig' %}

{% block title %}Snapshot {{ page_snapshot.hash }} | {{ parent() }}{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/monaco/editor.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/monaco/editor.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-10">
            <h1>Snapshot</h1>
        </div>
        <div class="col-2">
            {{ include('page_snapshot/_delete_form.html.twig') }}
        </div>
    </div>

    {{ breadcrumbs(page_snapshot)|raw }}

    <table>
        <tbody>
        <tr>
            <th>Timestamp</th>
            <td>{{ page_snapshot.timestamp|date('d/m/Y h:m:s') }}</td>
        </tr>
        <tr>
            <th>Response code</th>
            <td>{% include 'components/response-code.html.twig' with {code: page_snapshot.responseCode} only %}</td>
        </tr>
        </tbody>
    </table>

    <div class="monaco-editor mb-3" data-code="{{ page_snapshot.body }}" data-language="html" style="height: 300px"></div>

    <td><img class="img-fluid" alt="{{ page_snapshot.hash }}" src="{{ asset(page_snapshot.image) }}"></td>
{% endblock %}
