{% extends 'content.html.twig' %}

{% block title %}Edit Test Suite | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Edit Test Suite</h1>
        </div>
        <div class="col-2">
            {{ include('pages/action/_delete_form.html.twig', {'action': action}) }}
        </div>
    </div>

    {{ breadcrumbs(action)|raw }}

    <div class="mb-4">
        {{ include('pages/test/_form.html.twig') }}
    </div>

    {% if forms is defined and form is not empty %}
        <table class="table">
            {% for form in forms %}
                <tr>
                    {% if form.vars.name == 'assert_http_code' %}
                        <td>Assert HTTP status code equals</td>
                        <td>{{ include('pages/test/asserts/http_status.html.twig') }}</td>
                    {% endif %}

                    {% if form.vars.name == 'assert_html_element_exists' %}
                        <td>Assert HTML element exists</td>
                        <td>{{ include('pages/test/asserts/html_element_exists.html.twig') }}</td>
                    {% endif %}

                    <td width="50px">{{ include('pages/assert/_delete_form.html.twig', {'assert': form.vars.data }) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
