{% extends 'content.html.twig' %}

{% block title %}Edit Test Suite | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Edit Test Suite</h1>

    {{ breadcrumbs(action)|raw }}

    {{ include('pages/test/_form.html.twig') }}

    {% if forms is defined %}

        <hr>

        <div>

            {% for form in forms %}

                {% if form.vars.name == 'assert_http_code' %}

                    {{ include('pages/test/asserts/http_code.html.twig', {'button_label': 'Update'}) }}

                {% endif %}

            {% endfor %}

        </div>

    {% endif %}

    {#{{ include('pages/test/_delete_form.html.twig') }}#}
{% endblock %}
