{% extends 'content.html.twig' %}

{% block title %}Preference | {{ parent() }}{% endblock %}

{% block content %}
<div class="row mt-2">
    <div class="col-3">
        {% include 'components/user-menu.html.twig' %}
    </div>
    <div class="col-9">
        <h1>Preferences</h1>

        {% include 'components/flash-messages.html.twig' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
