{% if request %}
    {% set headers = request.headers|default([]) %}
    {% set cookies = request.cookies|default([]) %}

    <hr>

    <h2>Request</h2>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" data-toggle="tab" href="#request-general" role="tab">General</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#request-headers" role="tab">Headers</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#request-cookies" role="tab">Cookies</a>
        </div>
    </nav>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="request-general" role="tabpanel">
            <table class="table mt-4">
                <tr>
                    <td width="150px"><b>{{ request.method }}</b></td>
                    <td>{{ request.url }}</td>
                </tr>
                <tr>
                    <td>HTTP Version</td>
                    <td>{{ request.httpVersion }}</td>
                </tr>
                {% if request.headerSize is defined %}
                    <tr>
                        <td>Header size</td>
                        <td>{{ request.headerSize }} bytes</td>
                    </tr>
                {% endif %}
                {% if request.headersSize is defined %}
                    <tr>
                        <td>Headers size</td>
                        <td>{{ request.headersSize }} bytes</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Body Size</td>
                    <td>{{ request.bodySize }} bytes</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane fade show" id="request-headers" role="tabpanel">
            <table class="table mt-4">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for header in headers %}
                    <tr>
                        <td>{{ header.name }}</td>
                        <td>{{ header.value }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <p class="text-center">No headers found.</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id="request-cookies" role="tabpanel">
            <table class="table mt-4">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for cookie in cookies %}
                    <tr>
                        <td>{{ cookie.name }}</td>
                        <td>{{ cookie.value }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <p class="text-center">No cookies found.</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
