{% extends 'content.html.twig' %}

{% block title %}Page snapshot {{ snapshot.timestamp|date(datetime_format()) }} | {{ parent() }}{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/monaco/editor.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/monaco/editor.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Page Snapshot</h1>
        </div>
        <div class="col-2">
            {{ include('pages/page_snapshot/_delete_form.html.twig') }}
            <a data-toggle="tooltip"
               data-placement="bottom"
               title="Show code"
               target="_blank"
               class="btn btn-primary mt-2 mr-2 float-right"
               href="{{ path('editor', {'snapshot1': snapshot.id}) }}">
                <i class="fa fa-file-code"></i>
            </a>
            <a data-toggle="tooltip"
               data-placement="bottom"
               title="Show in iframe"
               target="_blank"
               class="btn btn-primary mt-2 mr-2 float-right"
               href="{{ path('iframe', {'snapshot': snapshot.id}) }}">
                <i class="icon-browser"></i>
            </a>
        </div>
    </div>

    {{ breadcrumbs(snapshot)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    <div class="row">
        <div class="col-6">
            {% include 'components/page-snapshot-details.html.twig' %}
        </div>
        <div class="col-6">
            {% if snapshot.image %}
                <td>
                    <a target="_blank" class="cursor-zoom-in" href="{{ asset(snapshot.image) }}">
                        <img class="img-fluid" alt="{{ snapshot.hash }}" src="{{ asset(snapshot.image) }}">
                    </a>
                </td>
            {% endif %}
        </div>
    </div>

{% endblock %}
