{% extends 'content.html.twig' %}

{% block title %}Page snapshot {{ snapshot.timestamp|date(datetime_format()) }} | {{ parent() }}{% endblock %}

{% set request = snapshot.details.request|default(null) %}
{% set response = snapshot.details.response|default(null) %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Page Snapshot</h1>
        </div>
        <div class="col-2">
            {{ include('pages/page_snapshot/_delete_form.html.twig') }}
            <a data-toggle="tooltip"
               data-placement="bottom"
               title="Show code"
               target="_blank"
               class="btn btn-primary mt-2 mr-2 float-right"
               href="{{ path('editor', {'snapshot1': snapshot.id}) }}">
                <i class="fa fa-file-code"></i>
            </a>
            <a data-toggle="tooltip"
               data-placement="bottom"
               title="Show in iframe"
               target="_blank"
               class="btn btn-primary mt-2 mr-2 float-right"
               href="{{ path('iframe', {'snapshot': snapshot.id}) }}">
                <i class="icon-browser"></i>
            </a>
        </div>
    </div>

    {{ breadcrumbs(snapshot)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    {% include 'pages/page_snapshot/_response.html.twig' with {response: response, snapshot: snapshot} only %}
    {% include 'pages/page_snapshot/_request.html.twig' with {request: request} only %}

    {% for result in snapshot.results %}

        <h2>Test Runs</h2>

        <table class="table mt-3 mb-0">
            <thead>
            <tr>
                <td>Snapshot</td>
                <td>Result</td>
                <td colspan="2">Run on</td>
            </tr>
            </thead>
            <tbody>

            {% if result %}
                <tr>
                    <td>
                        <a href="{{ path('page_snapshot_show', {'project': result.snapshot.page.project.id, 'page': result.snapshot.page.id, 'snapshot': result.snapshot.id}) }}">{{ result.snapshot.timestamp|date(datetime_format()) }}</a>
                    </td>
                    <td>
                        <a href="{{ path('page_snapshot_test_result', {
                            'project': result.snapshot.page.project.id,
                            'page': result.snapshot.page.id,
                            'snapshot': result.snapshot.id,
                            'result': result.id
                        }) }}">

                            {{ result.test.id }}


                            {{ result.id }}</a>
                    </td>
                    <td>
                        {{ result.timestamp|date(datetime_format()) }}
                    </td>
                    <td>
                        <div class="float-right">
                            {{ include('components/passed-indicator.html.twig', {'passed': result.passed}) }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>

    {% endfor %}

{% endblock %}
