<div class="row">
    <div class="col-10">
        <h2>Groups</h2>
    </div>
    <div class="col-2">
        <a data-toggle="tooltip"
           data-placement="bottom"
           title="New Group"
           class="btn btn-primary mt-2 mr-2 float-right "
           href="{{ path('action_group_new', {'resource': page.id, 'project': page.project.id}) }}">
            <i class="fa fa-plus-square"></i>
        </a>
    </div>
</div>

<table class="table">

    {% for id, group in page.actions %}
        <tr>
            <th>
                <a href="{{ path('action_group_edit', {'project': page.project.id, 'resource': page.id, 'group': group.id}) }}">{{ group.name }}</a>

                <div class="dropdown float-right"
                     data-toggle="tooltip"
                     data-placement="left"
                     title="Add Action">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="add-action-{{ id }}" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus-square"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-action-{{ id }}">
                        {% for type, class in actions %}
                            <a class="dropdown-item"
                               href="{{ path('action_new', {'project': page.project.id, 'resource': page.id, 'group': group.id, 'type': type}) }}">{{ type|capitalize }}</a>
                        {% endfor %}
                    </div>
                </div>
            </th>
        </tr>

        <tr>
            <td class="p-0 bt-0">
                <table class="table">
                    {% for action in group.actions %}
                        <tr>
                            <td width="100px"></td>
                            <td>
                                {{ action.id }}

                                {% if action is instanceof('\\App\\Entity\\Action\\TestAction') %}
                                    Test Action

                                    <a href="{{ path('test_edit', {
                                        'project': page.project.id,
                                        'resource': page.id,
                                        'group': group.id,
                                        'action': action.id
                                    }) }}">Edit</a>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}

                </table>

            </td>
        </tr>
    {% endfor %}
</table>
