{% extends 'content.html.twig' %}

{% block title %}Edit Page {{ page.name }}| {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Edit Page</h1>
        </div>
        <div class="col-2">
            {{ include('pages/page/_delete_form.html.twig') }}
        </div>
    </div>

    {{ breadcrumbs(page)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    {{ include('pages/page/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
