{% extends 'content.html.twig' %}

{% block title %}Page {{ page.name }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Page {{ page.name }}</h1>
        </div>
        <div class="col-2">
            {{ include('pages/page/_delete_form.html.twig') }}
            <a data-toggle="tooltip"
               data-placement="bottom"
               title="Edit page"
               class="float-right btn btn-primary mt-2 mr-2"
               href="{{ path('page_edit', {'project': page.project.id, 'page': page.id}) }}">
                <i class="fa fa-edit"></i>
            </a>
            <a data-toggle="tooltip"
               data-placement="bottom"
               title="Create page snapshot"
               class="btn btn-primary float-right mt-2 mr-2"
               href="{{ path('snapshot_page_new', {'project': page.project.id, 'page': page.id}) }}">
                <i class="fa fa-camera"></i>
            </a>
        </div>
    </div>

    {{ breadcrumbs(page)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    <table class="table">
        <tbody>
            <tr>
                <th>
                    <p class="mt-2 mb-0">Path</p>
                </th>
                <td>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" disabled value="{{ page.path }}">
                            <div class="input-group-append">
                                <a class="btn btn-secondary" href="{{ page.url }}" target="_blank">
                                    <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% if page.averageResponseTime %}
                <tr>
                    <th>Average Response Time</th>
                    <td>{{ page.averageResponseTime|number_format(2) }} sec</td>
                </tr>
                {% if page.snapshots|length >= 2 %}
                    <tr>
                        <td colspan="2">
                            <canvas class="response-time-chart" id="response-time-chart-1"
                                    data-chart="{{ page.responseTimeData|json_encode }}" height="50"></canvas>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>

    {% if page.snapshots is not empty %}
        <div class="row mb-3">
            <div class="col-12">
                <h2>Snapshots</h2>
            </div>
        </div>

        <div class="compare-selector compare-page-snapshots-selector mb-3" data-path="{{ path('compare_page_snapshot', {'snapshot1': 'snapshot1', 'snapshot2': 'snapshot2'}) }}">
            <select class="custom-select" name="snapshot1">
                {% set newest = page.snapshots[0].timestamp %}
                {% for index, snapshot in page.snapshots %}
                    <option value="{{ snapshot.id }}">{{ snapshot.timestamp|date(datetime_format()) }}
                        - {% if index == 0 %}Newest{% else %}{{ snapshot.timestamp|time_diff(newest) }}{% endif %}</option>
                {% endfor %}
            </select>

            <select class="custom-select" name="snapshot2">
                {% set newest = page.snapshots[0].timestamp %}
                {% for index, snapshot in page.snapshots %}
                    <option value="{{ snapshot.id }}" {{ (index == 1) ? 'selected' : '' }}>{{ snapshot.timestamp|date(datetime_format()) }}
                        - {% if index == 0 %}Newest{% else %}{{ snapshot.timestamp|time_diff(newest) }}{% endif %}</option>
                {% endfor %}
            </select>

            <button class="btn btn-primary" type="button">Compare</button>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Timestamp</th>
                <th>Delta Time</th>
                <th>HTTP Status</th>
            </tr>
            </thead>
            <tbody>
            {% set newest = page.snapshots[0].timestamp %}
            {% for index, snapshot in page.snapshots %}
                <tr>
                    <td><a href="{{ path('page_snapshot_show', {'project': page.project.id, 'page': page.id, 'snapshot': snapshot.id}) }}">{{ snapshot.timestamp|date(datetime_format()) }}</a></td>
                    <td>{% if index == 0 %}Newest{% else %}{{ snapshot.timestamp|time_diff(newest) }}{% endif %}</td>
                    <td>{% include 'components/response-code.html.twig' with {code: snapshot.responseCode} only %}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">No page screenshots here.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
