{% extends 'content.html.twig' %}

{% block title %}Project {{ project_snapshot.project.name }} snapshot | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10">
            <h1>Project snapshot</h1>
        </div>
        <div class="col-2">
            {{ include('pages/project_snapshot/_delete_form.html.twig') }}
        </div>
    </div>

    {{ breadcrumbs(project_snapshot)|raw }}

    {% include 'components/flash-messages.html.twig' %}

    <table class="table">
        <tbody>
            <tr>
                <th>Timestamp</th>
                <td>{{ project_snapshot.timestamp|date('d/m/Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Page snapshot</td>
            <td>Page</td>
            <td>HTTP Status</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for page_snapshot in project_snapshot.snapshots %}
            <tr>
                <td>
                    <a href="{{ path('page_snapshot_show', {'project': project_snapshot.project.id, 'page': page_snapshot.page.id, 'snapshot': page_snapshot.id}) }}">{{ page_snapshot.timestamp|date('d/m/Y H:i:s') }}</a>
                </td>
                <td>
                    <a href="{{ path('page_show', {'project': project_snapshot.project.id, 'page': page_snapshot.page.id} ) }}">{{ page_snapshot.page.name }}</a>
                </td>
                <td>{% include 'components/response-code.html.twig' with {code: page_snapshot.responseCode} only %}</td>
                <td>
                    <a data-toggle="tooltip"
                       data-placement="bottom"
                       title="Visit page"
                       target="_blank"
                       href="{{ page_snapshot.page.url }}">
                        <i class="fa fa-external-link-alt"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No page screenshots here.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
