{% extends 'content.html.twig' %}

{% block title %}Compare snapshots | {{ parent() }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/monaco/editor.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/monaco/editor.css') }}">
{% endblock %}

{% set snapshot1Suffix = '' %}
{% set snapshot2Suffix = '' %}
{% if snapshot2 and snapshot1.id != snapshot2.id %}
    {% set snapshot1Suffix = '(' ~ snapshot1.timestamp|time_diff(snapshot2.timestamp) ~ ')' %}
    {% set snapshot2Suffix = '(Newer)' %}
{% endif %}

{% block content %}
    {% if snapshot2 %}
        <div class="row">
            <div class="col-6">
                {{ breadcrumbs(snapshot1, snapshot1Suffix)|raw }}
            </div>
            <div class="col-6">
                {{ breadcrumbs(snapshot2, snapshot2Suffix)|raw }}
            </div>
        </div>

        <div class="monaco-compare"
             data-snapshot1="{{ snapshot1.body }}"
             data-snapshot2="{{ snapshot2.body }}"
             data-language="html"
             style="    height: calc(100% - 54px)">
        </div>

    {% else %}
        <div class="row">
            <div class="col-12">
                {{ breadcrumbs(snapshot1)|raw }}
            </div>
        </div>

        <div class="monaco-editor"
             data-code="{{ snapshot1.body }}"
             data-language="html"
             style="    height: calc(100% - 54px)">
        </div>

    {% endif %}
{% endblock %}
