{% extends 'content.html.twig' %}

{% block title %}Compare snapshots | {{ parent() }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('resemble.js') }}"></script>
{% endblock %}

{% set snapshot1Suffix = '' %}
{% set snapshot2Suffix = '' %}
{% if snapshot1.id != snapshot2.id %}
    {% set snapshot1Suffix = '(' ~ snapshot1.timestamp|time_diff(snapshot2.timestamp) ~ ')' %}
    {% set snapshot2Suffix = '(Newer)' %}
{% endif %}

{% block content %}
    <div class="row mt-2">
        <div class="col-12">
            {% include 'components/flash-messages.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ breadcrumbs(snapshot1, snapshot1Suffix)|raw }}
            <img width="300px" class="d-block margin-auto" src="{{ asset(snapshot1.image) }}" alt="Snapshot image {{ snapshot1.id }}">
        </div>
        <div class="col-6">
            {{ breadcrumbs(snapshot2, snapshot2Suffix)|raw }}
            <img width="300px" class="d-block margin-auto" src="{{ asset(snapshot2.image) }}" alt="Snapshot image {{ snapshot1.id }}">
        </div>
    </div>

    <div class="image-diff margin-auto mt-3 mb-3" data-image1="{{ asset(snapshot1.image) }}" data-image2="{{ asset(snapshot2.image) }}"></div>

{% endblock %}
