{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.baseUrl) }}
    <p class="text-muted">* Fully formatted base URL with protocol, without '/' at the end.</p>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
