{% extends 'base.html.twig' %}

{% block title %}Projects | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Projects</h1>

    {{ breadcrumbs()|raw }}

    <a class="btn btn-primary mb-3" href="{{ path('project_new') }}">
        <i class="fas fa-plus-square"></i> New Project
    </a>

    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>List icons can</li>
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>be used to</li>
        <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>replace bullets</li>
        <li><span class="fa-li"><i class="far fa-square"></i></span>in lists</li>
    </ul>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', {'project': project.id}) }}">{{ project.name }}</a></td>
                <td>
                    <a href="{{ path('project_edit', {'project': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
