{% extends 'base.html.twig' %}

{% block title %}Projects | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-10">
            <h1>Projects</h1>
        </div>
        <div class="col-2">
            <a class="btn btn-primary mt-2 float-right" href="{{ path('project_new') }}">
                <i class="fa fa-plus-square"></i>
            </a>
        </div>
    </div>

    {{ breadcrumbs()|raw }}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', {'project': project.id}) }}">{{ project.name }}</a></td>
                <td>
                    <a href="{{ path('project_edit', {'project': project.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
